{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}

    <h2>Transaction History</h2>
    <h3>Balance: ${{ cash }}</h3>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Stocks</th>
                <th>Cash</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.type }} {{ transaction.symbol }} {{ transaction.shares }}(Shares)</td>
                    <td>${{ transaction.amount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}