<!-- From layput, extend the blueprint block -->
{% extends "layout.html" %}

{% block layout %}

<!--
action attribute can be used to provide the URL where the HTTP request to be made. Depending on how the server-side code handles the request, it can send a redirect response regardless
of whether request was a POST or GET. This is called a "post/redirect/get" pattern, it's commonly used to prevent users from accidentally resubmitting the form by refreshsing the page.

While form submittion supports both methods, GET is used to retrieve data from server while POST is used to send data.
However, for simplicity of data passing(so no need to send another sort of POST request),

GET method request includes the form data as query string parameters in the URL (limited in length). No data is techniquely 'sent' to the server, meaning no data changed in server.
On the other hand, the POST method sends data through the HTTP message body. HTTP request consists of a request line, headers, and an optional message body. Hence,

    POST method can be used instead if there is a need to hide the key=value in the url.
-->
    <form action="/greet" method="GET">
<!--
name attribute is used to reference form data after a form is submitted. The submitted data is packaged as a series of key:value pairs and sent to the server.
In this case, the value submitted by the form will be called "name", the get method can retrieve its value.
Note: Only form elements with a name attribute will have their values passed when submitting a form.
-->
        <input autofocus name="name" type="text">
        <button type="submit">Greet</button>
    </form>

{% endblock %}

<!-- Do note that if you construct a GET request, with random query string parameters and appending them to the URL, the web will still function normally. -->